<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>registration.controller.LoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpServlet</servlet-name>
        <servlet-class>registration.controller.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>registration.Dao.LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutForm</servlet-name>
        <servlet-class>servlets.LogoutForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdate</servlet-name>
        <servlet-class>registration.controller.CustomerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierAdd</servlet-name>
        <servlet-class>registration.controller.SupplierAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAdd</servlet-name>
        <servlet-class>registration.controller.CategoryAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategory</servlet-name>
        <servlet-class>registration.controller.SubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>registration.controller.ProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesAdd</servlet-name>
        <servlet-class>registration.controller.SalesAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesOrder</servlet-name>
        <servlet-class>registration.controller.SalesOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>registration.controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesPrice</servlet-name>
        <servlet-class>registration.model.SalesPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesStock</servlet-name>
        <servlet-class>registration.controller.SalesStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardSales</servlet-name>
        <servlet-class>registration.controller.DashboardSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationCredit</servlet-name>
        <servlet-class>registration.controller.NotificationCredit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardPayables</servlet-name>
        <servlet-class>registration.controller.DashboardPayables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardCrsales</servlet-name>
        <servlet-class>registration.controller.DashboardCrsales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStock</servlet-name>
        <servlet-class>registration.controller.UpdateStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartController</servlet-name>
        <servlet-class>registration.controller.ChartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/LoginAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpServlet</servlet-name>
        <url-pattern>/EmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutForm</servlet-name>
        <url-pattern>/LogoutForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdate</servlet-name>
        <url-pattern>/CustomerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierAdd</servlet-name>
        <url-pattern>/SupplierAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAdd</servlet-name>
        <url-pattern>/CategoryAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategory</servlet-name>
        <url-pattern>/SubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesAdd</servlet-name>
        <url-pattern>/SalesAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesOrder</servlet-name>
        <url-pattern>/SalesOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesPrice</servlet-name>
        <url-pattern>/SalesPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesStock</servlet-name>
        <url-pattern>/SalesStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardSales</servlet-name>
        <url-pattern>/DashboardSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationCredit</servlet-name>
        <url-pattern>/NotificationCredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardPayables</servlet-name>
        <url-pattern>/DashboardPayables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardCrsales</servlet-name>
        <url-pattern>/DashboardCrsales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStock</servlet-name>
        <url-pattern>/UpdateStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartController</servlet-name>
        <url-pattern>/ChartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            55
        </session-timeout>
    </session-config>
</web-app>
